/*여백초기화*/
/**{margin:0; padding:0;}*/
body, div, ul, li,dl,dt,ol,h1,h2,h3,h4,h5,h6,
input, fieldset,legend, p, select, table, th, tr, td,
textarea, button, form{margin:0; padding:0;}

/* 링크 초기화 */
a{color:#222; text-decoration:none;}
a:hover{color:#5377B6;}

/* 폰트초기화 */
body, input, textarea, select, button, table{font-family: 'Nanum Gothic','돋움','맑은 고딕'; color:#222;font-size:13px;line-height:1.5;}

/* IR기법 */
.ir_pm{display:block;overflow:hidden;font-size:0;line-height:0;text-indent:-99999px;}
.ir_w{display:block;overflow:hidden;position:relative;z-index:-1;width:100; height:100;}

/* 불릿 기호 초기화 */
ul,ol,li,dl,menu{list-style-type: none;}

/* 테두리 초기화 */
img, fieldset{border:0;}
